<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the directory containing the
                      binaries (exes) to include. The default would be
                      "target\release\". If an explicit rustc target triple is
                      used, i.e. cross-compiling, then the default path would
                      be "target\<CARGO_TARGET>\<CARGO_PROFILE>",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the "CargoProfile" variable. This can also
                      be overridden manually with the "target-bin-dir" flag.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = The cargo profile used to build the binaries
                      (usually "debug" or "release").
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='ds'
        UpgradeCode='05FD78AF-8603-4BAC-843D-FFBCD88890C1'
        Manufacturer='Aminul Islam'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Domain search: check domain availability over RDAP with a WHOIS fallback'
            Manufacturer='Aminul Islam'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallPrivileges='limited'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='ds Installation'/>

        <!--
          The package installs either for everyone or for the current user, so
          `Package` names no scope, and `InstallPrivileges='limited'` marks it
          UAC-compliant; without that Windows asks for administrator rights
          even when the install is going into one user's own profile.

          ALLUSERS=2 means "for everyone when the install can elevate, for me
          alone when it cannot", which is what an untouched install does. The
          scope dialog overwrites it with 1 or with nothing once the choice is
          made by hand, and `msiexec` takes those same two values on the
          command line.
        -->
        <Property Id='ALLUSERS' Value='2' Secure='yes'/>
        <Property Id='ApplicationFolderName' Value='ds'/>
        <Property Id='WixAppFolder' Value='WixPerMachineFolder'/>

        <!--
          WixUI_Advanced offers `[ProgramFilesFolder]ds`, which is the 32-bit
          Program Files in a 64-bit package. Point it at the one matching the
          build instead. Scheduling this immediately before the action that
          reads the property leaves the rest of that dance exactly as WiX
          wrote it, including an APPLICATIONFOLDER given on the command line,
          which still wins.
        -->
        <CustomAction Id='SetPerMachineFolder'
            Property='WixPerMachineFolder'
            Value='[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]'
            Execute='immediate'/>
        <InstallUISequence>
            <Custom Action='SetPerMachineFolder' Before='WixSetPerMachineFolder'>1</Custom>
        </InstallUISequence>
        <InstallExecuteSequence>
            <Custom Action='SetPerMachineFolder' Before='WixSetPerMachineFolder'>1</Custom>
        </InstallExecuteSequence>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='ds'>
                    <!--
                      Disabling the license sidecar file in the installer is a two step process:

                      1. Comment out or remove the `Component` tag along with its contents.
                      2. Comment out or remove the `ComponentRef` tag with the "License" Id
                         attribute value further down in this file.
                    -->
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>
                    
                    <Directory Id='Bin' Name='bin'>
                        <!--
                          One component per scope, on conditions that match the
                          ones WixUI_Advanced uses to pick the folder: an
                          install for everyone writes the system PATH, an
                          install for one user writes theirs. The conditions are
                          exclusive, so exactly one of these is ever installed.
                        -->
                        <Component Id='Path' Guid='0C638273-B469-4B6C-BF9E-3A777C39FFA1' KeyPath='yes'>
                            <Condition>ALLUSERS=1 OR (ALLUSERS=2 AND Privileged)</Condition>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='PathPerUser' Guid='E135BEE8-5C6E-4214-8150-5229B3210A6C' KeyPath='yes'>
                            <Condition>NOT (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))</Condition>
                            <Environment
                                Id='PATHPERUSER'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='no'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='ds.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\ds.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <!--
              Comment out or remove the following `ComponentRef` tag to remove
              the license sidecar file from the installer.
            -->
            <ComponentRef Id='License'/>
            
            <ComponentRef Id='binary0'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
                <ComponentRef Id='PathPerUser'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        
        <!--
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->

        
        <!--
          Adding a URL to Add/Remove Programs control panel listing for the
          application is a two step process:

          1. Uncomment the following `Property` tag with the "ARPHELPLINK" Id
             attribute value.
          2. Change the value for `Value` attribute of the following
             `Property` tag to a valid URL.
        -->
        <!--<Property Id='ARPHELPLINK' Value='ChangeMe'/>-->

        <UI>
            <!--
              Advanced, rather than FeatureTree, for the one dialog that asks
              whether to install for everyone or for this user alone.
            -->
            <UIRef Id='WixUI_Advanced'/>
            <!--
              Disabling the EULA dialog in the installer is a two step process:

                 1. Uncomment the following two `Publish` tags
                 2. Comment out or remove the `<WiXVariable Id='WixUILicenseRtf'...` tag further down

            -->
            <!--<Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>-->
            <!--<Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>-->
            
        </UI>

        <!--
          Disabling the EULA dialog in the installer requires commenting out
          or removing the following `WixVariable` tag
        -->
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        
        
        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->

        
        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        -->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->

    </Product>

</Wix>
